@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    box-sizing: border-box;
}
body{
    /*background-image: url(robe/background.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(50deg, #91cc23, #044e64);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    
}

nav{
   
    width: 100%;
    overflow: auto;
    flex: 1;
    text-align: right;
  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(50deg, #700a8a, #23cc3f);
  box-shadow: 0 1px 4px rgba(64, 145, 226, 0.582);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 88%, 0 0 100%);
  
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav a{ 
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: right;
   
    font-size: 14px;
    color: white;
    padding: 5px 2px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    background: rgb(180, 28, 61);
    color: #fff;
}

.menu-btn{
    color: rgba(22, 10, 10, 0.856);
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
    
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ccc;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


  

.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
}
.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before,
.box:after
{
    background: linear-gradient(235deg, #89ff00, #060c21, #00bcd4);
}
.content{
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}


/*gallery*/
.work__container{
    row-gap: 2rem;
    padding-bottom: 5rem;
}
  .work__img{
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    overflow: hidden;
  }
  .work__img img{
    transition: 1s;
    cursor: pointer;
  }
 
  .work__img img:hover{
    transform: scale(1.1);
  }
  .drop .nav__list .nav__{
  
    display: block;
    align-content: center;
    margin-left: 38vh;
    margin-right: 17vh;
    margin-top: 5px;
    width: 100px;
    transition: 1s;
  
  }

  .drop{
    transition: 0.5s;
    position: absolute;
  }
  .drop ul{
     transition: 0.5s; 
    position: absolute;
    background-color: var(--second-color);
    width: 100%;
    border-radius: 15px;
    left: 0vh;
    z-index: 999;
  }
.work__container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}


.work__img{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}
.work__img img{
    width: 100%;
    height: auto;

}
.texts{
  font-family: inherit;
  color: #949494d2, #060c21;
  font-size: 30px;
}
.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
    
  }
  .home__data{
    text-align: center;
  }
  .home__title{
    font-size: 70px;
    color: rgba(184, 172, 176, 0.753)
  }
  .home h1{
    font-size: 38px;
  }
  .contact{
    text-align: center;
  }
  
 
  /*about*/
  
  .about__text{
    font-family: cursive;
  }
  .about{
    background: linear-gradient(50deg, #4bcc23d2, #645e04dc);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 0 88%,0  100%);
  }
  .about__container{
    row-gap: 2rem;
    text-align: center;
  }
  .section-title{
    font-size: 40px;
    font-family: sans-serif;
  }
  .about__subtitle{
    margin-bottom: var(--mb-2);
  }
  .about__img{
    justify-self: center;
    padding-bottom: 3rem;
  }
  .about__img img{
    width: 200px;
    border-radius: .5rem;
  }
  /* base*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.home__data h1{
  font-size: 100px;

}
span{
  color: rgba(255, 145, 0, 0.384);
}
  
.footer{
  background-color: var(--btn2);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  
}


.section-title{
  color: rgba(99, 40, 40, 0.699);
  font-family: cursive ;
  font-size: 60px;
  text-align: center;
}



/* Media*/

  .about__subtitle{
    padding-bottom: 2rem;
  }
  .about__text{
   padding-bottom: 2rem;
   font-size: 18px;

  }
  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
  /*exp*/
  .titlee{
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .experience{
    background: linear-gradient(50deg, #23cc23, #0431accc);
    clip-path: polygon(0 0, 100% , 100% 100%, 70% 88%,  100%);
  }
  .experience-content
  {
    font-family: cursive;
    font-size: 20px;
  }
  .box{
    text-align: center;
  }